/*==========================================================
HERO
==========================================================*/

.hero{

    position:relative;

    height:100vh;

    min-height:900px;

    display:flex;

    align-items:center;

    overflow:hidden;

    background-image:

linear-gradient(
90deg,

rgba(7,24,46,.98) 0%,

rgba(7,24,46,.95) 26%,

rgba(7,24,46,.80) 46%,

rgba(7,24,46,.38) 63%,

rgba(7,24,46,.08) 78%,

rgba(7,24,46,0) 100%
),

url("../images/hero/hero-consulting.webp");

    background-size:cover;

    background-position:center center;

    background-repeat:no-repeat;

}

.hero-overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(

        to bottom,

        rgba(7,24,46,.15),

        rgba(7,24,46,.15)

    );

    z-index:1;

}

.hero-container{

    position:relative;

    z-index:2;

    width:min(92%,1500px);

    margin:auto;

}

.hero-content{

    max-width:620px;
margin-top:-50px;
    color:white;

}

.hero-kicker{

    display:block;

    margin-bottom:24px;

    font-size:.82rem;

    font-weight:700;

    letter-spacing:.30em;

    text-transform:uppercase;

    color:#4D9CFF;

}

.hero h1{

    color:white;

    margin-bottom:30px;

    font-size:clamp(5.4rem,8vw,7.4rem);

line-height:.88;

letter-spacing:-0.07em;

max-width:760px;

.hero p{

    max-width:560px;

    font-size:1.15rem;

    line-height:1.9;

    color:rgba(255,255,255,.82);

    margin-bottom:46px;

}

.hero-buttons{

    display:flex;

    gap:22px;

    flex-wrap:wrap;

}


/*==========================================================
TABLET
==========================================================*/

@media (max-width:992px){

.hero{

    min-height:760px;

    background-position:68% center;

}

.hero-content{

    max-width:620px;

}

.hero h1{

    font-size:4.2rem;

}

}


/*==========================================================
MOBILE
==========================================================*/

@media (max-width:768px){

.hero{

    min-height:680px;

    background-position:72% center;

}

.hero-content{

    max-width:100%;

}

.hero h1{

    font-size:3.2rem;

}

.hero-buttons{

    flex-direction:column;

}

.hero-buttons .button,

.hero-buttons .button-secondary{

    width:100%;

}

}
