/* =========================================================
   BSGA CONSULTING
   GLOBAL RESPONSIVE
   RESPONSIVE.CSS
========================================================= */


/* =========================================================
   LARGE DESKTOP
========================================================= */

@media (max-width:1400px){

    .container{

        width:min(94%,1400px);

    }

}


/* =========================================================
   LAPTOP
========================================================= */

@media (max-width:1200px){

    .container{

        width:min(94%,1200px);

    }

}


/* =========================================================
   TABLET
========================================================= */

@media (max-width:992px){

    .container{

        width:94%;

    }

}


/* =========================================================
   MOBILE
========================================================= */

@media (max-width:768px){

    .container{

        width:92%;

    }

}


/* =========================================================
   SMALL MOBILE
========================================================= */

@media (max-width:480px){

    .container{

        width:90%;

    }

}


/* =========================================================
   VERY SMALL MOBILE
========================================================= */

@media (max-width:360px){

    .container{

        width:92%;

    }

}
