/*==========================================================
SERVICES
==========================================================*/

.services{

    background:#FFFFFF;

}

.service{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:96px;

    align-items:center;

    margin-bottom:140px;

}

.service:last-child{

    margin-bottom:0;

}

.service.reverse .service-image{

    order:2;

}

.service.reverse .service-text{

    order:1;

}

.service-image{

    overflow:hidden;

    border-radius:32px;

}

.service-image img{

    width:100%;

    aspect-ratio:4/3;

    object-fit:cover;

    transition:
        transform .6s ease;

    box-shadow:
        0 24px 60px rgba(7,24,46,.10);

}

.service:hover .service-image img{

    transform:scale(1.04);

}

.service-text{

    max-width:560px;

}

.service-text h3{

    margin-bottom:24px;

    font-size:2rem;

}

.service-text p{

    margin-bottom:32px;

    line-height:1.9;

}

.service-text a{

    color:var(--blue);

    font-weight:600;

    transition:.3s;

}

.service-text a:hover{

    opacity:.75;

}

/*=========================
RESPONSIVE
=========================*/

@media(max-width:992px){

    .service{

        grid-template-columns:1fr;

        gap:48px;

        margin-bottom:96px;

    }

    .service.reverse .service-image,
    .service.reverse .service-text{

        order:initial;

    }

    .service-text{

        max-width:100%;

    }

}
